body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inria-sans: "Inria Sans";
  --font-inter: Inter;
  --font-adamina: Adamina;
  --font-abeezee: ABeeZee;
  --font-lato: Lato;
  --font-inherit: inherit;
  --font-junge: Junge;
  --font-atkinson-hyperlegible: "Atkinson Hyperlegible";
  --font-frank-ruhl-libre: "Frank Ruhl Libre";
  --font-inria-serif: "Inria Serif";

  /* font sizes */
  --font-size-6xl: 25px;
  --font-size-16xl: 35px;
  --font-size-3xs: 10px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-21xl: 40px;
  --font-size-11xl: 30px;
  --font-size-13xl: 32px;
  --font-size-49xl: 68px;
  --font-size-29xl: 48px;
  --font-size-smi: 13px;
  --font-size-33xl: 52px;
  --font-size-23xl: 42px;

  /* Colors */
  --color-gray-100: #fffefe;
  --color-gray-200: #fffdfd;
  --color-primary-dark-brown: #34251f;
  --color-gray-300: #212121;
  --color-gray-400: #0e0e0e;
  --color-gray-500: #0c0c0c;
  --color-gray-600: #070707;
  --color-gray-700: #0f0101;
  --color-gray-800: #040404;
  --color-gray-900: #010101;
  --color-black: #000;
  --color-gainsboro: #d9d9d9;
  --color-silver-100: #c2c2c2;
  --color-silver-200: #bbbaba;
  --color-silver-300: #b5b5b5;
  --color-secondary-white: #fff;
  --color-dimgray: #6a6a6a;
  --color-primary-brown: #413531;
  --color-snow-100: #fffcfc;
  --color-primary-lightbrown: #eeddcc;
  --color-accent-red: #c20a0a;
  --color-whitesmoke: #f3f2f2;

  /* Gaps */
  --gap-26xl: 45px;

  /* Paddings */
  --padding-28xl: 47px;
  --padding-smi: 13px;
  --padding-5xl: 24px;

  /* border radiuses */
  --br-6xl: 25px;
  --br-2xl: 21px;
  --br-3xl: 22px;
  --br-69xl: 88px;
  --br-22xl-5: 41.5px;
  --br-9xl: 28px;
  --br-3xl-5: 22.5px;
  --br-7xs: 6px;
  --br-11xs: 2px;
  --br-mini-5: 14.5px;
  --br-xs: 12px;
}
