body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lato: Lato;
  --label-l100-b: Inter;
  --font-open-sans: "Open Sans";
  --button-default: Poppins;
  --font-adamina: Adamina;
  --font-inria-sans: "Inria Sans";
  --font-inherit: inherit;
  --font-abeezee: ABeeZee;
  --font-atkinson-hyperlegible: "Atkinson Hyperlegible";
  --font-frank-ruhl-libre: "Frank Ruhl Libre";
  --font-junge: Junge;
  --font-inria-serif: "Inria Serif";

  /* font sizes */
  --label-l100-b-size: 16px;
  --font-size-sm: 14px;
  --caption-c100-l-size: 12px;
  --heading-h100-size: 20px;
  --button-default-size: 15px;
  --font-size-11xl: 30px;
  --font-size-16xl: 35px;
  --font-size-lg: 18px;
  --font-size-13xl: 32px;
  --font-size-61xl: 80px;
  --font-size-29xl: 48px;
  --font-size-21xl: 40px;
  --font-size-53xl: 72px;
  --font-size-26xl: 45px;
  --font-size-49xl: 68px;
  --font-size-smi: 13px;
  --font-size-33xl: 52px;
  --font-size-23xl: 42px;
  --font-size-6xl: 25px;
  --font-size-3xs: 10px;

  /* Colors */
  --color-secondary-white: #fff;
  --color-primary-brown: #413531;
  --carbon-800: #363636;
  --color-black: #000;
  --carbon-100: #e8e8e8;
  --color-gainsboro: #d9d9d9;
  --c1-d: #d1d1d1;
  --carbon-200: #ccc;
  --secondary-s700: #18a661;
  --c1-h: #f9f9f9;
  --color-whitesmoke: #f3f2f2;
  --color-whitesmoke-100: #f0efef;
  --c1-c: #a9a9a9;
  --carbon-400: #9c9c9c;
  --color-darkgray: #9b9b9b;
  --coupon-blue: #05b3ff;
  --color-lavender: rgba(230, 236, 255, 0);
  --color-gray-200: #fffdfd;
  --carbon-500: #828282;
  --color-primary-dark-brown: #34251f;
  --color-gray-300: #212121;
  --c1-a: #151515;
  --color-gray-100: #101010;
  --color-gray-400: #0e0e0e;
  --color-gray-500: #0c0c0c;
  --color-gray-600: #070707;
  --color-gray-700: #0f0101;
  --color-gray-800: #040404;
  --accent-1-900: #ffab0a;
  --color-primary-lightbrown: #eeddcc;
  --color-lavenderblush-100: #fff3f3;
  --color-snow-100: #fffcfc;
  --color-dimgray: #6a6a6a;
  --color-dimgray-100: #553e3e;
  --color-accent-red: #c20a0a;
  --color-silver-100: #c2c2c2;
  --color-silver-200: #bbbaba;
  --color-silver-300: #b5b5b5;

  /* Gaps */
  --gap-26xl: 45px;
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-7xs: 6px;
  --gap-xs: 12px;
  --gap-smi: 13px;
  --gap-9xs: 4px;
  --gap-11xs: 2px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-3xs: 10px;
  --padding-7xs: 6px;
  --padding-5xs: 8px;
  --padding-28xl: 47px;
  --padding-smi: 13px;

  /* border radiuses */
  --br-5xl: 24px;
  --br-19xl: 38px;
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-xs: 12px;
  --br-7xs: 6px;
  --br-2xl: 21px;
  --br-3xl: 22px;
  --br-69xl: 88px;
  --br-22xl-5: 41.5px;
  --br-9xl: 28px;
  --br-3xl-5: 22.5px;
  --br-11xs: 2px;
  --br-6xl: 25px;
  --br-mini-5: 14.5px;
}
