.on-sale-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 80px;
}
.mentastic {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 38px;
  right: 1194px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-gray-400);
  text-align: left;
  width: 190px;
  height: 50px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xl-5);
  background-color: var(--color-gainsboro);
  width: 156px;
  height: 48px;
}
.rectangle-wrapper,
.search {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.rectangle-wrapper {
  top: 17px;
  left: 12px;
  width: 156px;
  height: 48px;
}
.search {
  top: 29px;
  left: 41px;
  font-size: var(--font-size-xl);
  font-family: var(--font-junge);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.group-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-search-normal-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 22.5%;
  width: 9.38%;
  top: 38.75%;
  right: 28.65%;
  bottom: 38.75%;
  left: 61.98%;
}
.group-parent {
  position: absolute;
  top: 17px;
  left: 909px;
  width: 192px;
  height: 80px;
  overflow: hidden;
  cursor: pointer;
}
.bg-icon {
  position: absolute;
  top: 0;
  left: 7px;
  width: 1440px;
  height: 743px;
}
.cardbest-seller-child {
  position: absolute;
  height: 32.9%;
  width: 100%;
  top: 67.1%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-secondary-white);
}
.cardbest-seller-item {
  position: absolute;
  height: 2.23%;
  width: 22.31%;
  top: 78.62%;
  right: 66.94%;
  bottom: 19.14%;
  left: 10.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b,
.div,
.pastel-long-sleeve {
  position: absolute;
  text-align: left;
}
.div {
  top: 89.22%;
  left: 10.74%;
  font-size: var(--font-size-base);
  text-decoration: line-through;
  line-height: 180%;
  text-transform: capitalize;
  font-family: var(--font-lato);
  color: var(--color-accent-red);
  opacity: 0.2;
}
.b,
.pastel-long-sleeve {
  color: var(--color-primary-dark-brown);
}
.b {
  top: 89.22%;
  left: 24.79%;
  font-size: var(--font-size-base);
  line-height: 180%;
  text-transform: capitalize;
  font-family: var(--font-lato);
  opacity: 0.9;
}
.pastel-long-sleeve {
  top: 83.46%;
  left: 10.74%;
  font-size: var(--font-size-lg);
  font-family: var(--font-frank-ruhl-libre);
}
.image-icon {
  position: absolute;
  height: 71.93%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 28.07%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.cardbest-seller {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 92px;
  left: 644px;
  width: 400px;
  height: 506px;
}
.here-are-some,
.on-sale1 {
  position: absolute;
  left: 146px;
  text-transform: capitalize;
  display: inline-block;
}
.here-are-some {
  top: 237px;
  line-height: 180%;
  width: 304px;
  height: 108px;
}
.on-sale1 {
  top: 162px;
  font-size: var(--font-size-33xl);
  font-family: var(--font-frank-ruhl-libre);
  width: 202px;
  height: 67px;
}
.best-seller {
  position: absolute;
  top: 102px;
  left: -7px;
  width: 1440px;
  height: 743px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-secondary-white);
}
.on-sale-inner,
.on-sale-item {
  position: absolute;
  top: 680.68px;
  left: 676px;
  width: 31.5px;
  height: 13.32px;
}
.on-sale-inner {
  top: 671px;
  left: 749px;
  background-color: var(--color-secondary-white);
  width: 175px;
  height: 25px;
}
.people-bought-last {
  position: absolute;
  top: 671px;
  left: 730px;
  font-size: var(--font-size-smi);
  line-height: 180%;
  text-transform: capitalize;
  text-align: left;
}
.new-collection-child {
  position: absolute;
  top: 461.24px;
  left: 1190.79px;
  background-color: var(--color-primary-lightbrown);
  width: 330.21px;
  height: 283.76px;
  opacity: 0.21;
}
.image-icon1,
.vector-icon {
  position: absolute;
  top: 1473.62px;
  left: 1447.51px;
  width: 154.1px;
  height: 106.53px;
}
.image-icon1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.cardnewcollection-child {
  position: absolute;
  height: 14.39%;
  width: 87.33%;
  top: 80.34%;
  right: 6.34%;
  bottom: 5.28%;
  left: 6.34%;
  background-color: var(--color-primary-lightbrown);
}
.long-sleeve {
  position: absolute;
  top: 84.65%;
  left: 32.11%;
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--font-lato);
  color: var(--color-primary-dark-brown);
  text-align: center;
}
.cardnewcollection {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 124px;
  left: 768px;
  width: 267px;
  height: 244px;
  background-image: url(./public/image1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-icon2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.long-sleeve1 {
  position: absolute;
  top: 84.65%;
  left: 34.68%;
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--font-lato);
  color: var(--color-primary-dark-brown);
  text-align: center;
}
.cardnewcollection1,
.cardnewcollection2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 150px;
  left: 165px;
  width: 280px;
  height: 230px;
  background-image: url(./public/cardnewcollection2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.cardnewcollection2 {
  top: 148px;
  background-image: url(./public/cardnewcollection@3x.png);
}
.long-sleeve3 {
  position: absolute;
  top: 84.65%;
  left: 39.12%;
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--font-lato);
  color: var(--color-primary-dark-brown);
  text-align: center;
}
.cardnewcollection3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 482px;
  left: 173px;
  width: 272px;
  height: 247px;
  background-image: url(./public/cardnewcollection3@3x1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.long-sleeve4 {
  position: absolute;
  top: 84.65%;
  left: 34.67%;
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--font-lato);
  color: var(--color-primary-dark-brown);
  text-align: center;
}
.cardnewcollection4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 495px;
  left: 776px;
  width: 282px;
  height: 234px;
  background-image: url(./public/cardnewcollection5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.on-sale2 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  display: inline-block;
  width: 1219.95px;
  height: 87.45px;
}
.new-collection {
  position: absolute;
  top: 871px;
  left: 120px;
  width: 1521px;
  height: 745px;
  font-size: var(--font-size-29xl);
  color: var(--color-primary-dark-brown);
  font-family: var(--font-frank-ruhl-libre);
}
.cart-child {
  position: absolute;
  top: 6.33px;
  left: -0.5px;
  width: 50px;
  height: 50px;
}
.cart,
.cart-item,
.icon {
  position: absolute;
  top: 0;
  left: 19.75px;
  width: 16px;
  height: 16px;
}
.cart,
.icon {
  top: 5px;
  left: 25.75px;
  width: 4px;
  height: 6px;
}
.cart {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 40px;
  left: 1155px;
  width: 35.75px;
  height: 35.17px;
}
.footer-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-primary-brown);
  width: 1440px;
  height: 248px;
}
.men,
.mentastic-all-right {
  border: 0;
  background-color: transparent;
  font-family: var(--font-lato);
  color: var(--color-secondary-white);
  display: inline-block;
}
.mentastic-all-right {
  font-size: var(--font-size-sm);
  position: absolute;
  top: 178px;
  left: 511px;
  line-height: 32px;
  text-transform: capitalize;
  text-align: center;
  width: 327px;
  opacity: 0.67;
}
.men {
  cursor: pointer;
  padding: 0;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-weight: 900;
  text-align: left;
}
.menu {
  top: 100px;
  left: 462px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-26xl);
}
.footer,
.manas,
.menu {
  position: absolute;
}
.footer {
  top: 1806px;
  left: 0;
  width: 1440px;
  height: 248px;
}
.manas {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 38px;
  right: 34px;
  font-size: var(--font-size-16xl);
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  width: 123px;
  height: 44px;
}
.upto-40-off,
.upto-50-off,
.upto-70-off,
.upto-72-off {
  position: absolute;
  top: 1271px;
  left: 375px;
  text-transform: uppercase;
  font-weight: 900;
}
.upto-40-off,
.upto-50-off,
.upto-72-off {
  top: 1616px;
  left: 360px;
}
.upto-50-off,
.upto-72-off {
  left: 971px;
}
.upto-50-off {
  top: 1257px;
}
.on-sale {
  position: relative;
  background-color: var(--color-secondary-white);
  width: 100%;
  height: 2054px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-lato);
}
