.search-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 80px;
}
.mentastic {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 42px;
  right: 1167px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-gray-400);
  text-align: left;
  width: 190px;
  height: 50px;
}
.search-item {
  position: absolute;
  top: -4px;
  left: 988px;
  width: 192px;
  height: 80px;
  overflow: hidden;
}
.search-inner {
  position: absolute;
  top: 717px;
  left: 757px;
  background-color: var(--color-secondary-white);
  width: 113px;
  height: 25px;
}
.new-collection-child {
  position: absolute;
  top: 723.73px;
  left: 1112.03px;
  background-color: var(--color-primary-lightbrown);
  width: 357.97px;
  height: 616.27px;
  opacity: 0.21;
}
.vector-icon {
  position: absolute;
  top: 1030.28px;
  left: 1259.38px;
  width: 167.05px;
  height: 232.38px;
}
.cardnewcollection-child,
.image {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
}
.image {
  background-color: transparent;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(./static/image@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.cardnewcollection-child {
  background-color: var(--color-primary-lightbrown);
  height: 14.39%;
  width: 87.33%;
  top: 80.34%;
  right: 6.34%;
  bottom: 5.28%;
  left: 6.34%;
}
.long-sleeve {
  position: absolute;
  top: 84.65%;
  left: 33.61%;
  text-transform: uppercase;
  font-weight: 900;
}
.cardnewcollection,
.image1 {
  position: absolute;
  top: 45.61px;
  left: 481.33px;
  width: 303.54px;
  height: 499.51px;
  background-image: url(./static/cardnewcollection@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(./static/image1@3x.png);
}
.cardnewcollection-item {
  position: absolute;
  height: 14.39%;
  width: 87.33%;
  top: 80.34%;
  right: 6.34%;
  bottom: 5.28%;
  left: 6.34%;
  background-color: var(--color-primary-lightbrown);
}
.long-sleeve1 {
  position: absolute;
  top: 84.65%;
  left: 30.51%;
  text-transform: uppercase;
  font-weight: 900;
}

.image-icon {
  position: absolute;
  top: 0;
  left: 1013.61px;
  width: 323.54px;
  height: 499.51px;
}
.cardnewcollection1 {
  position: absolute;
  top: 35px;
  left: 900px;
  width: 323.54px;
  height: 499.51px;

}

.image-icon {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.long-sleeve2 {
  position: absolute;
  top: 84.65%;
  left: 30%;
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--font-lato);
  color: var(--color-primary-dark-brown);
  text-align: center;
}
.cardnewcollection2,
.image2,
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
}
.cardnewcollection2 {
  background-color: transparent;
  top: 60.81px;
  left: 0;
  width: 303.54px;
  height: 499.51px;
  background-image: url(./static/cardnewcollection11@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image2,
.rectangle-button {
  display: none;
}
.image2 {
  background-color: transparent;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(./static/image3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-button {
  background-color: var(--color-primary-lightbrown);
  height: 14.39%;
  width: 87.33%;
  top: 80.34%;
  right: 6.34%;
  bottom: 5.28%;
  left: 6.34%;
}
.long-sleeve3 {
  position: absolute;
  top: 84.65%;
  left: 34.97%;
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--font-lato);
  color: var(--color-primary-dark-brown);
  text-align: center;
}
.cardnewcollection3,
.image3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 803.57px;
  left: 8.67px;
  width: 303.54px;
  height: 499.51px;
  background-image: url(./static/cardnewcollection1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(./static/image4@3x1.png);
  display: none;
}
.long-sleeve4 {
  position: absolute;
  top: 84.65%;
  left: 49.79%;
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--font-lato);
  color: var(--color-primary-dark-brown);
  text-align: center;
}
.cardnewcollection4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 804px;
  left: 462px;
  width: 323.54px;
  height: 499.51px;
  background-image: url(./static/cardnewcollection3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.long-sleeve5 {
  position: absolute;
  top: 84.65%;
  left: 49.64%;
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--font-lato);
  color: var(--color-primary-dark-brown);
  text-align: center;
}
.cardnewcollection4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 804px;
  left: 462px;
  width: 323.54px;
  height: 499.51px;
  background-image: url(./static/cardnewcollection3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.cardnewcollection5,
.new-collection-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
}
.cardnewcollection5 {

  top: 804px;
  left: 900px;
  width: 323.54px;
  height: 499.51px;
  /* background-image: url(./static/cardnewcollection4@3x.png); */
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: top;
}
.new-collection-item {
  background-color: var(--color-primary-lightbrown);
  height: 5.46%;
  width: 18.16%;
  top: 90.94%;
  right: 49.12%;
  bottom: 3.6%;
  left: 32.72%;
}
.watch {
  position: absolute;
  top: 1247px;
  left: 584px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--color-black);
}
.new-collection-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-primary-lightbrown);
  position: absolute;
  height: 5.46%;
  width: 18.16%;
  top: 91.09%;
  right: 80.55%;
  bottom: 3.45%;
  left: 1.29%;
}
.pendent {
  position: absolute;
  top: 1248px;
  left: 92px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--color-black);
}
.new-collection,
.search-child1 {
  position: absolute;
  top: 364px;
  left: 50px;
  width: 1470px;
  height: 1340.43px;
}
.search-child1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-primary-lightbrown);
  height: 3.6%;
  width: 17.08%;
  top: 77%;
  right: 10.14%;
  bottom: 19.96%;
  left: 64.78%;
}
.perfume {
  /* position: absolute; */
  top: 1604px;
  left: 1106px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 18px;
  color: var(--color-black);
}
.footer-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-primary-brown);
  width: 1440px;
  height: 248px;
}
.men,
.mentastic-all-right {
  border: 0;
  background-color: transparent;
  font-family: var(--font-lato);
  color: var(--color-secondary-white);
  display: inline-block;
}
.mentastic-all-right {
  font-size: var(--font-size-sm);
  position: absolute;
  top: 178px;
  left: 473px;
  line-height: 32px;
  text-transform: capitalize;
  text-align: center;
  width: 327px;
  opacity: 0.67;
}
.men {
  cursor: pointer;
  padding: 0;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-weight: 900;
  text-align: left;
}
.menu {
  position: absolute;
  top: 100px;
  left: 416px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-26xl);
}
.footer,
.rectangle-div {
  position: absolute;
  top: 1806px;
  left: 0;
  width: 1440px;
  height: 248px;
}
.rectangle-div {
  width: 100%;
  top: 0;
  right: 0;
  border-radius: var(--br-xs);
  background-color: var(--c1-h);
  border: 1px solid var(--c1-d);
  box-sizing: border-box;
  height: 42px;
}
.all-categories {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--button-default-size);
  font-family: var(--button-default);
  color: var(--c1-a);
  text-align: left;
}
.ic-chevron-down-icon {
  position: absolute;
  top: 4px;
  left: 114px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.all-categories-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 16px;
  width: 130px;
  height: 23px;
}
.line-div {
  position: absolute;
  top: 10.5px;
  left: 169.5px;
  border-right: 1px solid var(--c1-d);
  box-sizing: border-box;
  width: 1px;
  height: 21px;
}
.search-products-categories {
  border: 0;
  display: inline-block;
  font-family: var(--font-open-sans);
  font-size: var(--font-size-sm);
  background-color: transparent;
  position: absolute;
  width: calc(100% - 238px);
  top: 11px;
  left: 194px;
  font-weight: 700;
  color: var(--c1-c);
  text-align: left;
}
.ic-actions-search-icon {
  position: absolute;
  top: 13px;
  right: 16px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.mansa,
.search1 {
  position: absolute;
}
.search1 {
  top: 141px;
  left: 384px;
  width: 657px;
  height: 48px;
}
.mansa {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 42px;
  left: 1192px;
  font-size: var(--font-size-16xl);
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.search {
  position: relative;
  background-color: var(--color-secondary-white);
  width: 100%;
  height: 2054px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-primary-dark-brown);
  font-family: var(--font-lato);
}
