<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./static/global_account.css" />
    <link rel="stylesheet" href="./static/index_account.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,700;1,600;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,800;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Junge:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Atkinson Hyperlegible:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Frank Ruhl Libre:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Serif:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="user-account">
      <div class="user-account-child"></div>
      <img
        class="user-account-item"
        alt=""
        src="./static/rectangle-2.svg"
      /><a class ="nav-link"href ="/homepage"><button class="mentastic">Mentastic</button
      ></a><img class="user-account-inner" alt="" src="./static/frame-21.svg" /><img
        class="rectangle-icon"
        alt=""
        src="./static/rectangle-51@2x.png"
      />
      <div class="rectangle-div"></div>
      <img class="icon-person" alt="" src="./static/-icon-person.svg" /><a class ="nav-link"href ="/cart"><button
        class="my-orders"
      >
        MY ORDERS
      </button></a>
      <div class="account-settings">
        <button class="account-settings1">ACCOUNT SETTINGS</button>
      </div>
      <div class="my-wishlist"><a class ="nav-link"href ="/cart"><button class="cart">CART</button></a></div><a class ="nav-link"href ="/account">
      <button class="personal-information">Personal Information</button
      ></a><button class="payment-settings">Payment Settings</button
      ><a class ="nav-link"href ="/homepage"><button class="logout">Logout</button
      ></a><img class="line-icon" alt="" src="./static/line-5.svg" /><img
        class="user-account-child1"
        alt=""
        src="./static/line-5.svg"
      /><img class="user-account-child2" alt="" src="./static/line-5.svg" /><img
        class="user-account-child3"
        alt=""
        src="./static/line-5.svg"
      /><img class="all-inbox-icon" alt="" src="./static/all-inbox.svg" /><img
        class="icon-log-out"
        alt=""
        src="./static/-icon-log-out.svg"
      />
      <div class="user">USER</div>
      <img class="user-account-child4" alt="" src="./static/rectangle-52.svg" />
      <div class="name">Name</div>
      <div class="email">Email</div>
      <div class="mobile-no">Mobile No</div>
      <input class="rectangle-input" type="text" /><input
        class="user-account-child5"
        type="text"
      /><input class="user-account-child6" type="text" /><a class ="nav-link"href ="/bazaar"><button class="cart1">
        <img class="cart-child" alt="" src="./static/sellii.png" /><img
          class="cart-item"
          alt=""
          src="./static/ellipse-18.svg"
        /><img class="icon" alt="" src="./static/1.svg" />
      </button></a>
      <div class="footer">
        <div class="footer-child"></div>
        <textarea class="mentastic-all-right" readonly>
© 2021 Mentastic. All Right Reserved</textarea
        >
        <div class="menu">
          <button class="men">Men</button><button class="men">Trends</button
          ><button class="men">Contact US</button
          ><button class="men">FAQ</button>
        </div>
      </div>
      <input class="user-account-child7" type="text" />
      <div class="rtx-road-delhi">RTX ROAD DELHI 110016</div>
      <div class="address">Address :</div><a class ="nav-link"href ="/account"><a class ="nav-link"href ="/account">
    <button class="account"><i class="manas"> {{ram}}</i></button></a>
    </div>
  </body>
</html>
