<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./static/global_faq.css" />
    <link rel="stylesheet" href="./static/index_faq.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,700;1,600;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,800;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Junge:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Atkinson Hyperlegible:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Frank Ruhl Libre:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Serif:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="faqs">
      <a class ="nav-link"href ="/homepage"><button class="mentastic">Mentastic</button></a>
      <div class="footer">
        <div class="footer-child"></div>
        <textarea class="mentastic-all-right" readonly>
© 2021 Mentastic. All Right Reserved</textarea
        >
        <div class="menu"><a class ="nav-link"href ="/men">
          <button class="men">Men</button></a><a class ="nav-link"href ="/trends"><button class="men">Trends</button
          ></a><a class ="nav-link"href ="/contact"><button class="men">Contact US</button
          ></a><a class ="nav-link"href ="/faq"><button class="men">FAQ</button></a>
        </div>
      </div>
      <a class ="nav-link"href ="/account"><button class="manas-wrapper"><i class="manas">{{ram}}</i></button></a>
      <div class="faqs-wrapper"><b class="faqs1">FAQs</b></div>
      <img class="faqs-child" alt="" src="./static/rectangle-220.svg" /><img
        class="faqs-item"
        alt=""
        src="./static/rectangle-220.svg"
      /><img class="faqs-inner" alt="" src="./static/rectangle-220.svg" /><img
        class="rectangle-icon"
        alt=""
        src="./static/rectangle-220.svg"
      /><img
        class="rectangle-icon"
        alt=""
        src="./static/rectangle-220.svg"
      /><img class="faqs-child2" alt="" src="./static/rectangle-221.svg" /><img
        class="faqs-child3"
        alt=""
        src="./static/rectangle-227.svg"
      /><img class="faqs-child4" alt="" src="./static/rectangle-229.svg" /><img
        class="faqs-child5"
        alt=""
        src="./static/rectangle-221.svg"
      /><img class="faqs-child6" alt="" src="./static/rectangle-225.svg" />
      <div class="q">Q.</div>
      <div class="a">A.</div>
      <div class="a1">A.</div>
      <div class="a2">A.</div>
      <div class="a3">A.</div>
      <div class="q1">Q.</div>
      <div class="q2">Q.</div>
      <div class="q3">Q.</div>
      <div class="line-div"></div>
      <div class="faqs-child7"></div>
      <div class="faqs-child8"></div>
      <img class="line-icon" alt="" src="./static/line-58.svg" />
      <div class="faqs-child9"></div>
      <div class="faqs-child10"></div>
      <div class="faqs-child11"></div>
      <div class="faqs-child12"></div>
      <div class="what-are-the-container">
        <p class="what-are-the">
          What are the different modes of payment that I can use?
        </p>
      </div>
      <div class="we-offer-all">
        We offer all sorts of payment modes : Cash on Delivery, UPI and Mobile
        Wallets, Credit Card, Debit Card and Netbanking
      </div>
      <div class="what-is-the">What is the expected time of shipment?</div>
      <div class="generally-your-items">
        Generally, your items will be shipped to your delivery address within
        2-3 working days of completing the order on our website. You will be
        notified as well about your delivery status.
      </div>
      <div class="can-i-return">
        Can I return my product if I do not like it?
      </div>
      <div class="you-can-always">
        You can always return the product if you do not like it and a full
        refund would be processed if returned before 30 days of purchase and an
        exchange would be made after 30 days. No return would be allowed after
        60 days.
      </div>
      <div class="is-my-personal">
        Is my personal data secure on the Mentastic website?
      </div>
      <div class="we-are-100">
        We are 100% committed to the security of our customers. No personal
        information and details are leaked by Mentastic to any other company.
        However we do analyse the user activity for better recommendation of
        products.
      </div>
    </div>
  </body>
</html>
