<!DOCTYPE html>
<html>

<head padding: 50px; border: 20px solid black;>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="./static/global.css" />
  <link rel="stylesheet" href="./static/index.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,800&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Frank Ruhl Libre:wght@700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inria Serif:wght@700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@1,600&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Junge:wght@400&display=swap" />
</head>

<body>
  <a name="top"></a>
  <div class="mentastic">
    <img class="backgroung-icon" alt="" src="./static/-backgroung.svg" />
    <div class="footer">
      <div class="footer-child"></div>
      <div class="mentastic-all-right">
        © 2021 Mentastic. All Right Reserved
      </div>
      <div class="menu">
        <div class="men"><a class="nav-link" href="/men">Men</a></div>
        <div class="men">Woman</div>
        <div class="men">kids</div>
        <div class="men">Trends</div>
        <div class="men"><a class="nav-link" href="/contact">Contact US</a></div>
        <div class="men"><a class="nav-link" href="/faq">FAQ</a></div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-child"></div>
      <div class="mentastic-all-right">
        © 2021 Mentastic. All Right Reserved
      </div>
      <div class="menu">
        <div class="men"><a class="nav-link" href="/men">Men</a></div>
        <div class="men">Woman</div>
        <div class="men">kids</div>
        <div class="men">Trends</div>
        <div class="men"> <a class="nav-link" href="/contact">Contact US</a></div>
        <div class="men"><a class="nav-link" href="/faq">FAQ</a></div>
      </div>
      <div class="footer2">
        <div class="footer-child"></div>
        <div class="mentastic-all-right">
          © 2021 Mentastic. All Right Reserved
        </div>
        <div class="menu">
          <div class="men"><a class="nav-link" href="/men">Men</a></div>
          <div class="men">Woman</div>
          <div class="men">kids</div>
          <div class="men">Trends</div>
          <div class="men"><a class="nav-link" href="/contact">Contact US</a></div>
          <div class="men"><a class="nav-link" href="/faq">FAQ</a></div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-child"></div>
      <div class="mentastic-all-right">
        © 2023 Mentastic. All Right Reserved
      </div>
    </div>
    <div class="menu3">
      <a class="nav-link" href="/men"><button class="men3">Men</button></a><a class="nav-link" href="/contact"><button
          class="men3">Contact US</button></a><a class="nav-link" href="/faq"><button class="men3">FAQ</button></a>
    </div>
    <form class="testimoni">
      <!-- <img class="indicator-icon" alt="" src="./static/indicator.svg" /> -->
      <div class="cardtestimoni">
        <div class="bg-quote">
          <div class="bg-quote-child"></div>
        </div>
        <img class="cardtestimoni-child" alt="" src="./static/deepak.png" />
        <div class="lorem-ipsum-dolor">
          You deserve the best, and that's what you'll get with our product.
          Don't settle for anything less!
        </div>
        <div class="comfortable-and-met">
          I really love the shirt! It feels more like a light flannel than a
          jacket

        </div>
        <b class="anisa-zahra">Deepak Kalal</b>
        <div class="founder-milenial"> Influencer</div>
      </div>
      <div class="cardtestimoni1">
        <div class="bg-quote">
          <div class="bg-quote-child"></div>
        </div>
        <img class="cardtestimoni-child" alt="" src="./static/srk.png" />
        <div class="lorem-ipsum-dolor">
          This product is exactly what you need!
          It will solve all of your problems and make your life easier.
        </div>
        <div class="comfortable-and-met">
          Comfortable and met all my expectations! I ordered a medium and it
          fit perfectly
        </div>
        <b class="anisa-zahra1">Shah Rukh</b>
        <div class="founder-milenial"> Actor</div>
      </div>
      <!-- <div class="cardtestimoni2">
          <div class="bg-quote"><div class="bg-quote-child"></div></div>
          <img
            class="cardtestimoni-child"
            alt=""
            src="./static/ellipse-5@2x.png"
          />
          <div class="lorem-ipsum-dolor">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacus,
            auctor pretium ac ultrices. Dui lacus dignissim tincidunt urna, at
            enim tempo. Pellentesque amet Lorem ipsum dolor sit amet,
          </div>
          <div class="comfortable-and-met">
            Comfortable and met all my expectations! I ordered a medium and it
            fit perfectly
          </div>
          <b class="anisa-zahra">Anisa Zahra</b>
          <div class="founder-milenial">Founder milenial</div>
        </div>
        <div class="cardtestimoni3">
          <div class="bg-quote"><div class="bg-quote-child"></div></div>
          <img
            class="cardtestimoni-child"
            alt=""
            src="./static/ellipse-5@2x.png"
          />
          <div class="lorem-ipsum-dolor">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacus,
            auctor pretium ac ultrices. Dui lacus dignissim tincidunt urna, at
            enim tempo. Pellentesque amet Lorem ipsum dolor sit amet,
          </div>
          <div class="comfortable-and-met">
            Comfortable and met all my expectations! I ordered a medium and it
            fit perfectly
          </div>
          <b class="anisa-zahra">Anisa Zahra</b>
          <div class="founder-milenial">Founder milenial</div>
        </div> -->
      <div class="lorem-ipsum-dolor4">
        The customer is very important, the customer will be followed by the customer
      </div>
      <b class="what-people-say">What People Say About Us</b>
    </form>
    <div class="discount">
      <img class="discount-child" alt="" src="./static/rectangle-44.svg" />
      <div class="discount-item"></div>
      <img class="image-icon" alt="" src="./static/homi.png" /><img class="vector-icon" alt=""
        src="./static/vector.svg" /><a class="nav-link" href="/collections"><button class="cta" id="cTA">
          <div class="shop-now">SHOP NOW</div>
        </button></a>

      <div class="min">
        <div class="min-child"></div>
        <div class="min1">Min</div>
        <b class="b">14</b>
      </div>
      <div class="hour">
        <div class="min-child"></div>
        <div class="hours">Hours</div>
        <b class="b">09</b>
      </div>
      <div class="day">
        <div class="min-child"></div>
        <b class="b2">05</b>
        <div class="days">Days</div>
      </div>
      <div class="lorem-ipsum-dolor5">
        Our product has been tested and approved by experts,
        so you can trust that it's the best option available.
      </div>
      <b class="deal-of-the">Deal of The Week </b>
    </div>
    <div class="our-product">
      <a class="nav-link" href="/search">
        <button class="cardproduct">
          <div class="price">
            <div class="div">₹220</div>
            <b class="b3">₹140</b>
          </div>
          <b class="pastel-long-sleeve">Moisturizer Cream</b><img class="rating-icon" alt=""
            src="./static/rating.svg" /><img class="image-icon1" alt="" src="./static/io.png" />
        </button></a><a class="nav-link" href="/search"><button class="cardproduct1">
          <div class="price">
            <div class="div">₹20</div>
            <b class="b3">₹14</b>
          </div>
          <b class="pastel-long-sleeve1">Comb</b><img class="rating-icon" alt="" src="./static/rating.svg" /><img
            class="image-icon1" alt="" src="./static/image2.png" />
        </button></a><a class="nav-link" href="/search"><button class="cardproduct2">
          <div class="price">
            <div class="div">₹220</div>
            <b class="b3">₹140</b>
          </div>
          <b class="pastel-long-sleeve2">Watch and Glasses</b><img class="rating-icon" alt=""
            src="./static/rating.svg" /><img class="image-icon1" alt="" src="./static/cardnewcollection4@3x1.png" />
        </button></a><a class="nav-link" href="/search"><button class="cardproduct3">
          <div class="price">
            <div class="div">₹120</div>
            <b class="b3">₹90</b>
          </div>
          <b class="pastel-long-sleeve3">Premium Belt</b><img class="rating-icon" alt=""
            src="./static/rating.svg" /><img class="image-icon1" alt="" src="./static/image4@2x.png" />
        </button><a class="nav-link" href="/search"><button class="cardproduct4">
            <div class="price">
              <div class="div">₹180</div>
              <b class="b3">₹110</b>
            </div>
            <b class="pastel-long-sleeve4">Hoodie</b><img class="rating-icon" alt="" src="./static/rating.svg" /><img
              class="image-icon1" alt="" src="./static/hoodie.png" />
          </button></a><a class="nav-link" href="/search"><button class="cardproduct5">
            <div class="price">
              <div class="div">₹22</div>
              <b class="b3">₹16</b>
            </div>
            <b class="pastel-long-sleeve5">Facewash</b><img class="rating-icon" alt="" src="./static/rating.svg" /><img
              class="image-icon1" alt="" src="./static/hm.png" />
          </button></a><a class="nav-link" href="/search"><button class="cardproduct6">
            <div class="price">
              <div class="div">₹25</div>
              <b class="b3">₹19</b>
            </div>
            <b class="pastel-long-sleeve6">Tie (pack of 4)</b><img class="rating-icon" alt=""
              src="./static/rating.svg" /><img class="image-icon1" alt="" src="./static/image7@2x.png" />
          </button></a><a class="nav-link" href="/search"><button class="cardproduct7">
            <div class="price">
              <div class="div">₹320</div>
              <b class="b3">₹190</b>
            </div>
            <b class="pastel-long-sleeve7">Gold Chain</b><img class="rating-icon" alt=""
              src="./static/rating.svg" /><img class="image-icon1" alt="" src="./static/image8@2x.png" />
          </button></a>
        <div class="our-product-child"></div>
        <div class="category">
          <div class="men">Hot</div>
          <a class="nav-link" href="/sale"><button class="on-sale">On SALE</button></a><a class="nav-link"
            href="/trends"><button class="on-sale">Trending Now</button>
          </a><a class="nav-link" href="/collections"><button class="on-sale">New Arrival</button></a>
        </div>
        <b class="our-product1">Our Product</b>
    </div>
    <div class="best-seller">
      <img class="bg-icon" alt="" src="./static/bg.svg" />
      <div class="cardbest-seller" id="cardBestSellerContainer">
        <a class="nav-link" href="/product7">
          <button class="cardbest-seller-child"></button><img class="cardbest-seller-item" alt=""
            src="./static/rating.svg" />
          <b class="pastel-long-sleeve8">Outfits of day</b><img class="image-icon9" alt=""
            src="./static/image9@2x.png" /></a>
      </div>
      <div class="cardbest-seller1" id="cardBestSellerContainer1">
        <a class="nav-link" href="/product1">
          <button class="cardbest-seller-child"></button><img class="cardbest-seller-item" alt=""
            src="./static/rating.svg" />

          <b class="pastel-long-sleeve8">Cosmetics of day</b><img class="image-icon9" alt=""
            src="./static/dove.png" /></a>
      </div>
      <!-- <div class="cardbest-seller2" id="cardBestSellerContainer2">
          <div class="cardbest-seller-child1"></div>
          <img class="cardbest-seller-item" alt="" src="./static/rating.svg" />
          <div class="div8">₹220</div>
          <b class="b11">₹140</b
          ><b class="pastel-long-sleeve8">Pastel Long Sleeve</b
          ><img class="image-icon9" alt="" src="./static/image11@2x.png" />
        </div> -->
      <a class="nav-link" href="/search">
        <!-- <img class="indicator-icon1" alt="" src="./static/indicator1.svg" /><button class="cta1" autofocus id="cTA1"> -->
          <b class="see-more">SEE MORE</b>
        </button></a>
      <div class="lorem-ipsum-dolor6">
        You won't find a better deal on this product anywhere else.
        It's the perfect balance of quality and affordability.
      </div>
      <b class="best-seller-product">Best Seller Product</b>
    </div>
    <div class="about-us">
      <img class="about-us-child" alt="" src="./static/rectangle-143@2x.png" />
      <div class="stats">
        <div class="stats-child"></div>
        <div class="stats-item"></div>
        <div class="parent">
          <b class="b14">2023</b>
          <div class="fifash-founded">Mentastic Founded</div>
        </div>
        <div class="product-sold-parent">
          <div class="product-sold">Product Sold</div>
          <div class="div11"><b>89</b><b class="b15">+</b></div>
        </div>
        <div class="best-reviews-parent">
          <div class="best-reviews">Best Reviews</div>
          <div class="div11"><b>310</b><b class="b15">+</b></div>
        </div>
        <div class="stats-inner"></div>
      </div>
      <div class="our-products-have">
        At our company, we are proud to be at the forefront of
        a new era in customer satisfaction. For the past one
        month, our products have consistently been recognized
        as the best-selling in the market, and we continue to
        provide some of the most highly reviewed products to
        our valued customers.
      </div>
      <b class="best-fashion-since">Best Fashion of 2023</b><img class="vector-icon1" alt=""
        src="./static/vector.svg" />
    </div>
    <div class="new-collection">
      <div class="new-collection-child"></div>
      <img class="vector-icon2" alt="" src="./static/vector.svg" />
      <div class="lorem-ipsum-dolor7">
        Our product is designed with your needs in mind,
        so you can be confident it will meet your expectations.
      </div>
      <div class="cardnewcollection"><a class="nav-link" href="/product3">
          <button class="image">
            <img class="component-1-child" alt="" src="./static/cardnewcollection2@3x.png" /><button
              class="cardnewcollection-child"></button></button></a>

        <div class="long-sleeve">Shaving Trimmers</div>
      </div><a class="nav-link" href="/product7">
        <button class="cardnewcollection1">
          <img class="component-1-child" alt="" src="./static/image13@2x.png" />
          <div class="cardnewcollection-item"></div>
          <div class="long-sleeve1">T-SHirt</div>
        </button></a><b class="new-collection1">New Collection</b>
    </div>
    <div class="mentastic1">Mentastic</div>
    <div class="header-parent">
      <div class="header">
        <img class="hero-image-icon" alt="" src="./static/heroimage.svg" />
        <div class="header">
          <img class="bg-child" alt="" src="./static/rectangle-106.svg" />
          <div class="bg-item"></div>
          <div class="component-2">
            <div class="component-2-child"></div>
            <marquee behavior="" direction="left">
              <img class="component-2-item" alt="" src="./static/ellipse-54.svg" /><img class="component-2-inner" alt=""
                src="./static/polygon-1.svg" /><img class="component-2-child1" alt="" src="./static/vector-4.svg" /><img
                class="component-2-child2" alt="" src="./static/vector-5.svg" /><img class="component-2-child3" alt=""
                src="./static/vector-6.svg" /><img class="component-2-child4" alt="" src="./static/vector-7.svg" /><img
                class="component-2-child5" alt="" src="./static/vector-8.svg" /><img class="component-2-child6" alt=""
                src="./static/vector-9.svg" /><img class="component-2-child7" alt="" src="./static/vector-10.svg" /><img
                class="component-2-child8" alt="" src="./static/vector-11.svg" /><img class="component-2-child9" alt=""
                src="./static/vector-12.svg" /><img class="rectangle-icon" alt="" src="./static/rectangle-187.svg" /><b
                class="mentastic2">MENTASTIC</b><img class="component-2-child10" alt="" src="./static/vector-13.svg" />
            </marquee>
          </div>
          <div class="bg-inner"></div>
          <div class="bg-child1"></div>
          <img class="vector-icon3" alt="" src="./static/vector1.svg" /><img class="vector-icon4" alt=""
            src="./static/vector2.svg" /><a class="nav-link" href="/homepage"><button
              class="mentastic3">MENTASTIC</button></a>
          <div class="component-2">
            <img class="component-1-child" alt="" src="./static/rectangle-188@2x.png" /><img class="component-2-item"
              alt="" src="./static/ellipse-54.svg" /><img class="component-2-inner" alt=""
              src="./static/polygon-1.svg" /><img class="component-2-child1" alt="" src="./static/vector-4.svg" /><img
              class="component-2-child2" alt="" src="./static/vector-5.svg" /><img class="component-2-child3" alt=""
              src="./static/vector-6.svg" /><img class="component-2-child4" alt="" src="./static/vector-7.svg" /><img
              class="component-2-child5" alt="" src="./static/vector-8.svg" /><img class="component-2-child6" alt=""
              src="./static/vector-9.svg" /><img class="component-2-child7" alt="" src="./static/vector-10.svg" /><img
              class="component-2-child8" alt="" src="./static/vector-11.svg" /><img class="component-2-child9" alt=""
              src="./static/vector-12.svg" /><img class="rectangle-icon" alt="" src="./static/rectangle-187.svg" /><b
              class="mentastic2">MENTASTIC</b><img class="component-2-child10" alt="" src="./static/vector-13.svg" />
          </div>
        </div>
        <div class="headline">
          <div class="we-have-to">Upgrade your life with our product!</div>
          <b class="find-the-best">Find the Best Style for You</b>
        </div>

        <a class="nav-link" href="/bazaar">
          <button class="cart" id="cart">
            <img class="cart-child" alt="" src="./static/sellii.png" /><img class="cart-item" alt=""
              src="./static/ellipse-18.svg" /><img class="icon" alt="" src="./static/1.svg" />
          </button>
        </a>

      </div>
      <div class="menu4">
        <a class="nav-link" href="/men"><button class="collection" id="men1">Men</button></a><a class="nav-link"
          href="/collections"><button class="collection" id="collection">Collections</button></a><a class="nav-link"
          href="/trends"><button class="collection" id="trends">Trendings</button></a>
      </div>
    </div>
    <img class="mentastic-child" alt="" /><button class="mentastic-inner" id="frameButton">
      {% if data is defined%}
      <a class ="nav-link"href ="/login"><div class="group-wrapper">
        <div class="group-wrapper">
          <div class="group-child"></div>
            <i class="login" >{{data.username}}</i>
          </div>
        </div>
      </a>
      {% else %}
        <a class ="nav-link"href ="/login"><div class="group-wrapper">
          <div class="group-wrapper">
            <div class="group-child"></div>
              <i class="login" >Login </i>
            </div>
          </div>
        </a>
      {% endif%}
    </button>
    <a class="nav-link" href="/collections">
      <div class="cta2" id="cTAContainer">
        <button class="shop-now-wrapper">
          <div class="shop-now">SHOP NOW</div>
        </button>
    </a><button class="cta-child"></button>
  </div><a class="nav-link" href="/search">
    <div class="search">Search</div>
    <!-- <button class="icon-search-normal-1">
        <img class="group-icon1" alt="" src="./static/group.svg" /></button
      > -->
    <button class="mentastic-item"></button>
    </div>
  </a>

  <script>
    var cTA = document.getElementById("cTA");
    if (cTA) {
      cTA.addEventListener("click", function (e) {
        // Please sync "details of product" to the project
      });
    }

    var cardBestSellerContainer = document.getElementById(
      "cardBestSellerContainer"
    );
    if (cardBestSellerContainer) {
      cardBestSellerContainer.addEventListener("click", function (e) {
        // Please sync "product list" to the project
      });
    }

    var cardBestSellerContainer1 = document.getElementById(
      "cardBestSellerContainer1"
    );
    if (cardBestSellerContainer1) {
      cardBestSellerContainer1.addEventListener("click", function (e) {
        // Please sync "product list" to the project
        name = cosmeticsoftheday;
      });
    }

    var cardBestSellerContainer2 = document.getElementById(
      "cardBestSellerContainer2"
    );
    if (cardBestSellerContainer2) {
      cardBestSellerContainer2.addEventListener("click", function (e) {
        // Please sync "product list" to the project
      });
    }

    var cTA1 = document.getElementById("cTA1");
    if (cTA1) {
      cTA1.addEventListener("click", function (e) {
        // Please sync "search" to the project
      });
    }

    var cart = document.getElementById("cart");
    if (cart) {
      cart.addEventListener("click", function (e) {
        // Please sync "cart" to the project
      });
    }

    var men1 = document.getElementById("men1");
    if (men1) {
      men1.addEventListener("click", function (e) {
        // Please sync "men" to the project
      });
    }

    var collection = document.getElementById("collection");
    if (collection) {
      collection.addEventListener("click", function (e) {
        // Please sync "Collections" to the project
      });
    }

    var trends = document.getElementById("trends");
    if (trends) {
      trends.addEventListener("click", function (e) {
        // Please sync "trending" to the project
      });
    }

    var frameButton = document.getElementById("frameButton");
    if (frameButton) {
      frameButton.addEventListener("click", function (e) {
        // Please sync "Login page" to the project
      });
    }

    var cTAContainer = document.getElementById("cTAContainer");
    if (cTAContainer) {
      cTAContainer.addEventListener("click", function (e) {
        // Please sync "search" to the project
      });
    }
  </script>
  <a href="#top">Go to top</a>
</body>

</html>