<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./static/global_login.css" />
    <link rel="stylesheet" href="./static/index_login.css" />

    <!-- Bootstrap -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Atkinson Hyperlegible:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,700;1,600;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Junge:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,800;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Frank Ruhl Libre:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Serif:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="bg-item"></div>
    <!-- <img class="bg-child" alt="" src="./static/rectangle-106.svg" /> -->
    <div class="bg-inner"></div>

    <div class="container">

      <!-- <img class="vector-icon" alt="" src="./static/vector21.svg" height=19 width=18 /><img
      class="vector-icon1"
      alt=""
      src="./static/vector31.svg"
    /> -->
      
      <form action="/login", method="POST" class="m-4">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        {% if feedback is defined%}
        <div class="alert alert-danger mt-3">
          {{feedback}}
        </div>
        {% endif %}
        <div class="alert alert-light mt-3">
          Don't have an account? <a href="/signup">Create one!</a>
        </div>

      </form>

    </div>
    <div class="footer">
      <div class="footer-child"></div>
      <div class="mentastic-all-right">
        © 2023 Mentastic. All Right Reserved
      </div>
      <div class="menu"><a class ="nav-link"href ="/men">
        <button class="trends">Men</button
        ></a><a class ="nav-link"href ="/trends"><button class="trends">Trends</button
        ></a><a class ="nav-link"href ="/contact"><button class="trends">Contact US</button
        ></a><a class ="nav-link"href ="/faq"><button class="trends">FAQ</button></a>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>

  </body>
      <script>
      var forgotPassword = document.getElementById("forgotPassword");
      if (forgotPassword) {
        forgotPassword.addEventListener("click", function (e) {
          window.location.href = "./recovery-page.html";
        });
      }
      
      var frameButton = document.getElementById("frameButton");
      if (frameButton) {
        frameButton.addEventListener("click", function (e) {
          window.location.href = "login-page.html";
        });
      }
      </script>
</html>
