<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./static/global_payment.css" />
    <link rel="stylesheet" href="./static/index_payment.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,700;1,600;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,800;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Junge:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Atkinson Hyperlegible:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Frank Ruhl Libre:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Serif:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="payment-settings">
      <div class="payment-settings-child"></div>
      <div class="payment-settings-item"></div><a class ="nav-link"href ="/homepage">
      <button class="mentastic">Mentastic</button
      ></a><img
        class="payment-settings-inner"
        alt=""
        src="./static/frame-21.svg"
      /><img class="rectangle-icon" alt="" src="./static/rectangle-511.svg" />
      <div class="rectangle-div"></div>
      <img class="icon-cart" alt="" src="./static/-icon-cart.svg" /><img
        class="icon-person"
        alt=""
        src="./static/-icon-person.svg"
      /><a class ="nav-link"href ="/cart"><button class="my-orders">MY ORDERS</button></a>
      <div class="account-settings">
        <div class="account-settings1">ACCOUNT SETTINGS</div>
      </div><a class ="nav-link"href ="/homepage">
      <button class="account-settings2">
        <div class="account-settings3">
          <p class="logout">LOGOUT</p>
        </div></button
      ></a><a class ="nav-link"href ="/cart"><button class="my-wishlist"><div class="cart">CART</div></button
      ></a><button class="personal-information">Personal Information</button
      ><button class="payment-settings1">Payment Settings</button
      ><img class="line-icon" alt="" src="./static/line-5.svg" /><img
        class="payment-settings-child1"
        alt=""
        src="./static/line-5.svg"
      /><img
        class="payment-settings-child2"
        alt=""
        src="./static/line-5.svg"
      /><img
        class="payment-settings-child3"
        alt=""
        src="./static/line-5.svg"
      /><img class="all-inbox-icon" alt="" src="./static/all-inbox.svg" /><img
        class="icon-log-out"
        alt=""
        src="./static/-icon-log-out.svg"
      />
      <div class="user">USER</div><a class ="nav-link"href ="/confirm">
      <button class="rectangle-button"></button
      ><button class="pay-now">Pay Now</button
      ></a><button class="payment-settings-child4"></button
      ><button class="add-debitcredit-card">Add DEBIT/CREDIT Card</button>
      <div class="upi-id">UPI ID</div>
      <input class="rectangle-input" type="text" /><input
        class="payment-settings-child5"
        type="text"
      />
      <div class="cart1"><a class ="nav-link"href ="/bazaar">
        <button class="vector-parent">
          <img class="vector-icon" alt="" src="./static/sellii.png" /><img
            class="vector-icon1"
            alt=""
            src="./static/vector1.svg"
          /><img
            class="vector-icon2"
            alt=""
            src="./static/vector2.svg"
          /></button
        ></a><img class="cart-child" alt="" src="./static/ellipse-18.svg" /><img
          class="icon"
          alt=""
          src="./static/1.svg"
        />
      </div>
      <div class="footer">
        <div class="footer-child"></div>
        <textarea class="mentastic-all-right" readonly>
© 2021 Mentastic. All Right Reserved</textarea
        >
        <div class="menu"><a class ="nav-link"href ="/men">
          <button class="men">Men</button></a><a class ="nav-link"href ="/trends"><button class="men">Trends</button
          ></a><a class ="nav-link"href ="/contact"><button class="men">Contact US</button
          ></a><a class ="nav-link"href ="/faq"><button class="men">FAQ</button></a>
        </div>
      </div>
      <img
        class="payment-settings-child6"
        alt=""
        src="./static/ATM-Cards.png"
      /><a class ="nav-link"href ="/account"><button class="manas-wrapper"><i class="manas"> {{ram}}</i></button></a>
    </div>
  </body>
</html>
