<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./static/global_recover.css" />
    <link rel="stylesheet" href="./static/index_recover.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Atkinson Hyperlegible:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,700;1,600;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Junge:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,800;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Frank Ruhl Libre:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Serif:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="recovery-page">
      <div class="recovery-password">Recovery password</div>
      <div class="otp-parent">
        <div class="otp">OTP</div>
        <input class="frame-child" type="text" /><input
          class="frame-item"
          type="text"
        />
        <div class="mobile">Mobile</div>
        <img class="vector-icon" alt="" src="./static/vector.svg" /><img
          class="vector-icon1"
          alt=""
          src="./static/vector1.svg"
        />
      </div>
      <button class="recovery-page-child"></button
      ><a class ="nav-link"href ="/recover"><button class="send-otp">Send OTP</button
      ></a><button class="recovery-page-item"></button
      ><a class ="nav-link"href ="/account"><button class="login">Login</button></a>
    </div>
  </body>
</html>
