<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./static/global_sale.css" />
    <link rel="stylesheet" href="./static/index_sale.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,700;1,600;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Junge:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,800;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Frank Ruhl Libre:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Serif:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Atkinson Hyperlegible:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="on-sale">
      <img class="on-sale-child" alt="" src="./static/rectangle-1.svg" /><a class ="nav-link"href ="/homepage"><button
        class="mentastic"
        id="mentastic"
      >
        Mentastic
      </button></a>
      <div class="group-parent" id="frameContainer"><a class ="nav-link"href ="/search">
        <button class="rectangle-wrapper">
          <div class="group-child"></div></button
        ><button class="search">Search</button
        ></a><button class="icon-search-normal-1">
          <img
            class="group-icon"
            alt=""
            src="./static/-icon-search-normal-11.svg"
          />
        </button>
      </div>
      <div class="best-seller">
        <img class="bg-icon" alt="" src="./static/bg.svg" /><a class ="nav-link"href ="/trends"><button
          class="cardbest-seller"
        >
          <div class="cardbest-seller-child"></div>
          <img
            class="cardbest-seller-item"
            alt=""
            src="./static/group-65.svg"
          />
          <div class="div">$220</div>
          <b class="b">$80 </b
          ><b class="pastel-long-sleeve">Unleash your inner beauty </b
          ><img class="image-icon" alt="" src="./static/nacklace.png" />
        </button></a>
        <div class="here-are-some">
          Here are some of our best selling products in the market in recent
          times
        </div>
        <b class="on-sale1">On Sale</b>
      </div>
      <img class="on-sale-item" alt="" src="./static/group-683.svg" />
      <div class="on-sale-inner"></div>
      <div class="people-bought-last">30 people bought last week</div>
      <div class="new-collection">
        <div class="new-collection-child"></div>
        <img class="vector-icon" alt="" src="./static/vector51.svg" /><a class ="nav-link"href ="/product1"><button
          class="cardnewcollection"
        >
          <img class="image-icon1" alt="" src="./static/shampoo.png" />
          <div class="cardnewcollection-child"></div>
          <div class="long-sleeve">SHampoo</div></button
        ></a><a class ="nav-link"href ="/product3"><button class="cardnewcollection1">
          <img class="image-icon1" alt="" src="./static/trimmer.png" />
          <div class="cardnewcollection-child"></div>
          <div class="long-sleeve1">TRIMMER</div></button
        ></a><a class ="nav-link"href ="/product3"><button class="cardnewcollection2">
          <img class="image-icon2" alt="" src="./static/image@2x1.png" />
          <div class="cardnewcollection-child"></div>
          <div class="long-sleeve1">TRIMMER</div></button
        ></a><a class ="nav-link"href ="/product5"><button class="cardnewcollection3">
          <img class="image-icon1" alt="" src="./static/image8@2x.png" />
          <div class="cardnewcollection-child"></div>
          <div class="long-sleeve3">CHAIN</div></button
        ></a><a class ="nav-link"href ="/product2"><button class="cardnewcollection4">
          <img class="image-icon1" alt="" src="./static/cardnewcollection5@3x.png" />
          <div class="cardnewcollection-child"></div>
          <div class="long-sleeve4">PERFUME</div></button
        ></a><b class="on-sale2">On Sale</b>
      </div><a class ="nav-link"href ="/bazaar">
      <button class="cart" id="cart">
        <img class="cart-child" alt="" src="./static/sellii.png" /><img
          class="cart-item"
          alt=""
          src="./static/ellipse-18.svg"
        /><img class="icon" alt="" src="./static/1.svg" />
      </button></a>
      <div class="footer">
        <div class="footer-child"></div>
        <textarea class="mentastic-all-right" readonly>
© 2023 Mentastic. All Right Reserved</textarea
        >
        <div class="menu"><a class ="nav-link"href ="/men">
          <button class="men">Men</button></a><a class ="nav-link"href ="/trends"><button class="men">Trends</button
          ></a><a class ="nav-link"href ="/contact"><button class="men">Contact US</button
          ></a><a class ="nav-link"href ="/faq"><button class="men">FAQ</button></a>
        </div>
      </div>
      <a class ="nav-link"href ="/account">
      <button class="manas">Ram</button></a>
      <div class="upto-70-off">upto 70% off</div>
      <div class="upto-40-off">upto 40% off</div>
      <div class="upto-72-off">upto 72% off</div>
      <div class="upto-50-off">upto 50% off</div>
    </div>

    <script>
      var mentastic = document.getElementById("mentastic");
      if (mentastic) {
        mentastic.addEventListener("click", function (e) {
          window.location.href = "./mentastic.html";
        });
      }
      
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          window.location.href = "./search.html";
        });
      }
      
      var cart = document.getElementById("cart");
      if (cart) {
        cart.addEventListener("click", function (e) {
          window.location.href = "./cart.html";
        });
      }
      </script>
  </body>
</html>
