<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./static/global_thnk_fr_cont.css" />
    <link rel="stylesheet" href="./static/index_thnk_fr_cont.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,700;1,600;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,800;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Junge:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Atkinson Hyperlegible:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Frank Ruhl Libre:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Serif:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="desktop-17">
      <div class="thank-you-for">
        Thank you for reaching us, we will resolve your qurry as soon as
        possible.
      </div><a class ="nav-link"href ="/homepage">
      <button class="mentastic" id="mentastic">Mentastic</button
      ></a><a class ="nav-link"href ="/account"><button class="manas" id="manas">Ram</button></a>
    </div>

    <script>
      var mentastic = document.getElementById("mentastic");
      if (mentastic) {
        mentastic.addEventListener("click", function (e) {
          window.location.href = "./mentastic.html";
        });
      }
      
      var manas = document.getElementById("manas");
      if (manas) {
        manas.addEventListener("click", function (e) {
          window.location.href = "./user-account.html";
        });
      }
      </script>
  </body>
</html>
